<div class="card-deck">
    <div class="card">
    <img class="card-img-top" src="assets/block.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text">profile image</p>
    </div>
    <div class="card-footer">@username</div>
    <div class="card-footer">unblock</div>
  </div>
    <div class="card">
    <img class="card-img-top" src="assets/block.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text">profile image</p>
    </div>
    <div class="card-footer">@username</div>
    <div class="card-footer">unblock</div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/block.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text">profile image</p>
    </div>
    <div class="card-footer">@username</div>
    <div class="card-footer">unblock</div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="assets/block.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text">profile image</p>
    </div>
    <div class="card-footer">@username</div>
    <div class="card-footer">unblock</div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/block.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text">profile image</p>
    </div>
    <div class="card-footer">@username</div>
    <div class="card-footer">unblock</div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/block.jpeg" alt="Card image">
    <div class="card-body">
      <p class="card-text">profile image</p>
    </div>
    <div class="card-footer">@username</div>
    <div class="card-footer">unblock</div>
  </div>
  </div>
