
<div class="bg-info" style="height: 500px;">
    <br/>
    <br/>
   <div class="form-group">
        <input type="text" class="form-control" #txtLogin  placeholder="Enter login id"/>
        <br/>
        <input type="Password" class="form-control" #txtPass  placeholder="Enter password"/>
        <br/>
        <input type="text" class="form-control" #txtrepass  placeholder="Enter repeatpassword"/>
        <br/>
        <input type="text" class="form-control" #txtemail  placeholder="Enter email"/>
        <br/>
        <input type="button" value="Register" (click)="Register(txtLogin, txtPass,txtrepass,txtemail)" />
    </div>
  </div>
