<div class="form-group">
<input type="text" class="form-control" #txtUsername  placeholder="Enter  username"/>
     <br/>
    <input type="text" class="form-control" #txtPass  placeholder="Enter password"/>
     <br/>
    <input type="text" class="form-control" #txtRepeatPass  placeholder="Enter repeatpassword"/>
     <br/>
    <input type="text" class="form-control" #txtEmail  placeholder="Enter email"/>
     <br/>
     <input type="button" value="Register" (click)="checkRegister(txtLogin, txtPass,txtRepeatPass,txtEmail)" />
 </div>
 
