<div class="card-deck">
<div class="card">
          <img class="card-img-top" src="assets/media.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">image1</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/media.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">image1</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/media.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">image1</p>
      </div>
    </div>
     <div class="card">
      <img class="card-img-top" src="assets/media.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">image1</p>
      </div>
    </div>
</div>
  <div class="card-deck">
     <div class="card">
        <img class="card-img-top" src="assets/media.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">image1</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/media.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">image1</p>
      </div>
    </div>
     <div class="card">
      <img class="card-img-top" src="assets/media.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">image1</p>
      </div>
    </div>
     <div class="card">
      <img class="card-img-top" src="assets/media.jpeg" alt="Card image">
      <div class="card-body">
        <p class="card-text">image1</p>
     </div>
    </div>
</div>
    